.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 0 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 0px;


}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

section {
    margin-bottom: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

pre {
    background: #f8f8f8;
    padding: 10px;
    overflow-x: auto;
}

.outros {
    max-width: 60%;
    margin: 20px auto;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    float: right;
}